*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
}

.wrapper .carousel{
    white-space: nowrap;
    /* overflow: hidden; */
}

.carousel img{
    height: 640px;
    object-fit: cover;
    margin-left: 20px;
    width: calc(100% / 3);
}

.carousel img:first-child{
    margin-left: 0px;
}

