{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

  <!-- Basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">   
  
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
  <title>Arcade Dynasty</title>  
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Site Icons -->
  <link rel="shortcut icon" href="" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <!-- Site CSS -->
  <link rel="stylesheet" href="{% static 'assets/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/stylehero.css' %}">
  {% tailwind_css %}
  <!-- ALL VERSION CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/versions.css' %}">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'assets/styles/forms.css' %}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

  <!-- Modernizer for Portfolio -->
  <script src="{% static 'assets/js/modernizer.js'}"></script>

  <!-- [if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]> -->

</head>
<body class="host_version"> 

	<!-- Modal -->
  {% include 'assets/modal.html' %}
  <!-- Modal ends  -->

    <!-- LOADER -->
	<!-- <div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div> -->
	<!-- END LOADER -->	
	
	<!-- Start header -->
   {% include 'assets/navbar.html' %}
   <!-- End header -->
  
   {% block content %}
   {% endblock %}
   
   {% include 'assets/footer.html' %}

  <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
  <script src="{% static 'assets/js/all.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
	<script src="{% static 'assets/js/timeline.min.js' %}"></script>
	<script src="{% static 'assets/js/swiper.js' %}"></script>
	<script src="{% static 'assets/js/nav.js' %}"></script>
	<!-- <script src="{% static 'assets/js/modal-ajax.js' %}"></script> -->

  <!-- for toggle-button -->
  <script src="{% static 'assets/scripts/alljs.js' %}"></script>
  <!-- <script src="{% static 'assets/js/script.js' %}"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
	<script>
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script>
</body>
</html>